:host {
  height: 100vh;
  display: block;
  background-color: #f0f0f5;
}
.auth-container {
  padding-top: 50px;
  padding-bottom: 20px;

  .form-wrapper {
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 350px;
    background-color: #fff;

    h2 {
      padding-bottom: 16px;
    }
  }
}
