<div class="container">
  <h1>Процедура возврата товара</h1>
  <div>
    <p>
      Для начала процедуры возврата приобретенного у нас товара обратитесь
      непосредственно в сервисный центр, а при его отсутствии, в магазин с
      заявлением о возврате товара, товарным и/или кассовым чеком, при себе
      обязательно иметь документ удостоверяющий личность, а также предоставьте
      товар в полной комплектации.
    </p>
  </div>

  <div>
    <h3>Товар надлежащего качества</h3>
    <div data-role="in-shop">
      <div>
        <p>
          Вы вправе обменять товар надлежащего качества на аналогичный товар в
          течение 14 дней, не считая дня покупки.
        </p>
        <p>
          Обращаем Ваше внимание, что основная часть нашего ассортимента
          &ndash;товары бытового назначения (электроника, фотоаппаратура,
          бытовая техника и т.п.).
        </p>
        <p>
          Указанные товары&nbsp;возврату и обмену как товары надлежащего
          качества не подлежат.
        </p>
      </div>
    </div>
  </div>

  <div>
    <h3>Товар ненадлежащего качества</h3>
    <div>
      <div>
        <p>
          По истечении 15 дней предъявление указанных требований возможно в
          случаях если:
        </p>
        <ul>
          <li>обнаружен существенный недостаток;</li>
          <li>нарушены сроки устранения недостатков;</li>
          <li>
            товар не может использоваться в совокупности более тридцати дней в
            течение каждого года гарантийного срока в связи с необходимостью
            устранения производственных недостатков.
          </li>
        </ul>
        <h2>Гарантийное обслуживание неисправного товара</h2>
        <div>
          <p>
            Если в купленном Вами товаре в течение установленного гарантийного
            срока обнаружены недостатки, Вы по своему выбору вправе:
          </p>
          <ul>
            <li>
              потребовать замены на товар этой же марки (этой же модели и (или)
              артикула)
            </li>
            <li>
              потребовать замены на такой же товар другой марки (модели,
              артикула) с соответствующим перерасчетом покупной цены;
            </li>
            <li>потребовать соразмерного уменьшения покупной цены;</li>
            <li>
              потребовать незамедлительного безвозмездного устранения
              недостатков товара или возмещения расходов на их исправление
              потребителем или третьим лицом;
            </li>
            <li>
              отказаться от исполнения договора купли-продажи и потребовать
              возврата уплаченной за товар суммы. В этом случае Вы обязаны
              вернуть товар с недостатками продавцу за его счет.
            </li>
          </ul>
          <p>
            <em
              ><strong
                >Важно! Необходимо использовать услуги квалифицированных
                специалистов по подключению, наладке и пуску в эксплуатацию
                технически сложных товаров, которые по техническим требованиям
                не могут быть пущены в эксплуатацию без участия соответствующих
                специалистов.</strong
              ></em
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
