.dx-textbox .dx-texteditor-container {
    margin-bottom: 7px;
}
.message {
  font-family: RobotoFallback;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-align: center;
  margin: 20px;
}
.dx-check-box {
  position: absolute;
  left: 12.5%;
  right: 12.5%;
  top: 12.5%;
  bottom: 12.5%;
  height: 30px;
  width: 30px;
  left: 5px;
  top: 5px;
  border-radius: 0px;

  background: #01a299;
}

