<div class="container">
  <h1>Наши пункты выдачи</h1>
  <table class="table">
    <tr>
      <th scope="col">пункт выдачи</th>
      <th scope="col">email</th>
      <th scope="col">телефон</th>
      <th scope="col">адрес</th>
    </tr>
    <tr>
      <td>тц зимняя свежесть</td>
      <td>svrjest@info.ru</td>
      <td>+7 800 555 35 35</td>
      <td>тц зимняя свежесть, c1, этаж 2</td>
    </tr>
    <tr>
      <td>тц осеннее золото</td>
      <td>zoloto@info.ru</td>
      <td>+7 800 555 35 36</td>
      <td>тц осеннее золото, c1, этаж 2</td>
    </tr>
    <tr>
      <td>тц летняя жара</td>
      <td>jhara@info.ru</td>
      <td>+7 800 555 35 37</td>
      <td>тц летняя жара , c1, этаж 2</td>
    </tr>
  </table>
</div>
