h1{
  margin-top: 32px;
  margin-bottom: 16px;
}
h2{
  font-size: 28px;
}
p {
  margin-top: 0;
  margin-bottom: 2rem;
  letter-spacing: 0.2px;
  line-height: 25px;
  &:first-letter{
  margin-left: 25px;
  }
}
